<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panden</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="container">
    <div class="text-left">
        <h1>Lijst van panden</h1>
        <ul style="list-style-type: none;">
            <li th:each="pand : ${lijstPanden}">
                <form th:action="@{'/screener/{id}'(id=${pand.getId()})}">
                    <span th:text="${pand.getId()}">Loading...</span> |
                    <span th:text="${pand.getStatus()}">Loading...</span> |
                    <span th:text="${pand.getPrijsPerUur()}">Loading...</span> Euro/uur
                    <a th:href="@{/screener/editPand(id=${pand.getId()})}">Update</a>
                </form>
            </li>
        </ul>
    </div>

</div>
</body>
</html>