<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SE4 OHS</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div align="center">
        <h1>One House Stand</h1>
        <a id="aanbod" th:href="@{/aanbod}">Ons aanbod</a> <br>
        <a id="lijstVanPanden" th:href="@{/screener/panden}">Lijst van Panden (voor Screener)</a> <br>
        <a th:href="@{/syndicus/matten}">Lijst van matten (Syndicus)</a>
    </div>
</div>
</body>
</html>