<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<h1>login page</h1>

<div th:if="${error}" style="color: red; margin-top: 1em; margin-bottom: 1em;">
Unable to login. Check your username and password.<br/>
</div>
<form method="POST" th:action="@{/login}">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username"/><br/>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password"/><br/>
    <input name="submit" type="submit" value="Login"/>
</form>

<a th:href="@{/registreer}">Nog geen account?</a>

</body>
</html>