<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<h1>Register page</h1>


<form method="POST" th:object="${user}" th:action="@{'/registreer'}">

    <div th:if="${#fields.hasErrors()}"
         class="validationError"
         style="margin-top: 1em; margin-bottom: 1em;">
        Unable to create account. Check your information.<br/>
    </div>

    <div>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" th:field="*{username}"/>
        <span
                class="validationError"
                th:if="${#fields.hasErrors('username')}"
                th:errors="*{username}"></span>
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" th:field="*{password}"><br/>
        <span
                class="validationError"
                th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"></span></div>
    <div>
        <label for="firstName">First name: </label>
        <input id="firstName" type="text" name="firstName" th:field="*{firstName}"><br/>
        <span
                class="validationError"
                th:if="${#fields.hasErrors('firstName')}"
                th:errors="*{firstName}"></span>
    </div>
    <div>

        <label for="lastName">Last name: </label>
        <input id="lastName" type="text" name="lastName" th:field="*{lastName}"><br/>
        <span
                class="validationError"
                th:if="${#fields.hasErrors('lastName')}"
                th:errors="*{lastName}"></span>
    </div>
    <div>

        <label for="email">email: </label>
        <input id="email" type="text" name="email" th:field="*{email}"><br/>
        <span
                class="validationError"
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"></span>
    </div>
    <input type="submit" name="registreer" value="Create your account">
</form>
</body>
</html>